---
layout: markdown_page
title: Adoption Team
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

The Adoption Team is part of the [Growth](/handbook/engineering/development/growth/) department and is responsible for improving our [Stage Monthly Active Users](handbook/product/growth/#smau) metrics.

## Team Members

The following people are permanent members of the Adoption Team:

<%= direct_team(manager_role: 'Engineering Manager, Adoption and Retention') %>

## Common Links

* [Growth issues board]
* [#g_growth] in Slack


[Growth issues board]: https://gitlab.com/gitlab-org/growth/issues

[#g_growth]: https://gitlab.slack.com/archives/g_growth